#detailsDiv {
        /* border: 1px solid green; */
        border-radius: 10px;
        margin: 0 auto;
        height: 90%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

#mainSection {
        /* border: 1px solid orange; */
        width: 80%;
        margin: 20px;
        /* padding: 20px; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
}

#detailPoster {
        /* border: 1px solid blue; */
        border-radius: 10px;
        width: 25%;
        padding-bottom: 35%;
        margin-right: 40px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

#detailTitle {
        /* border:1px solid green; */
        height: 100%;
}

#overviewSection {
        /* border: 1px solid red; */
        width: 80%;
        height: 20vh;
        padding: 20px 0;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        overflow: auto;
}


#cast {
        /* border: 1px solid green; */
        border: #7e7e7e;
        border-radius: 10px;
        width: 95%;
        background-color: white;
        padding: 20px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: auto;
        height: 35%;
        /* margin: 40px; */
}

#oneActor {
        border-radius: 10px;
        height: 70px;;
        width: 300px;
        margin: 15px;
        padding: 10px;
        display: flex;
        flex-direction: row;
}

#oneActor:hover {
        background-color: #eefcf5;
}

#oneActorPix {
        border: 2px solid #0dd27a;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 1000px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

#oneActorInfo {
        /* border: 1px solid red; */
        display: flex;
        width: 70%;
        flex-direction: column;
}

@media only screen and (max-width: 766px) {
        #detailsDiv {
                height: 100vh;
        }
}