@import './search.css';
@import './list.css';
@import './details.css';
@import './actor.css';

/*-----------*/

@font-face {
        font-family: 'circular-regular';
        src: url("./fonts/CircularStdBook.woff2") format('woff2');
}

@font-face {
        font-family: 'circular-regular-bold';
        src: url("./fonts/CircularStdBold.woff2") format('woff2');
}

@font-face {
        font-family: 'circular-big';
        src: url("./fonts/CircularStdBold.woff2") format('woff2');
}

@font-face {
        font-family: 'circular-bigger';
        src: url("./fonts/CircularStdBlack.woff2") format('woff2');
}

@font-face {
        font-family: 'circular-micro';
        src: url("./fonts/CircularStdBookItalic.woff2") format('woff2');
        font-style: italic;
        
}

/*-----------*/

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

/*-----------*/

.fontMicro {
        font-family: "circular-micro";
        font-size: 12px;
}

.fontRegular {
        font-family: "circular-regular";
        font-size: 17px;
}
.fontRegularBold {
        font-family: "circular-regular-bold";
        font-size: 16px;
}

.fontBig {
        font-family: "circular-big";
        font-size: 22px;
}

.fontBigger {
        font-family: "circular-bigger";
        font-size: 30px;
}

.clrBlack {
        color: #111;
}

.clrGreen {
        color: #0dd27a;
}

.clrBlue {
        color: #0f0096;
}

.clrGrey {
        color: #7e7e7e;
}

.green-background {
        background-color: #0dd27a;
}

.white-background {
        background-color: #fafafc;
}

.star {
        color: rgb(255, 187, 0);
}

.shdw {
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.10);
}

.inset-shdw {
        box-shadow: inset 0 -1px 8px rgba(0, 0, 0, 0.10);
}


/*-----------*/

#App {
        display: flex;
        flex-direction: row;
        /* flex-direction: row; */
        /* height: 100vh; */
        position: relative;
}

#welcomeSection {
        /* border: 1px solid yellowgreen; */
        width: 60vw;
        margin: auto;
        height: 100vh;
        padding: 0 5%;
        /* overflow: auto; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

#searchSection {
        /* border: 1px solid red; */
        width: 350px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}

#searchBarDiv {
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 15px 20px;
}

#listDiv {
        /* border: 1px solid green; */
        height: 100%;
        padding: 20px 28px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
}

#detailsSection {
        /* border: 1px solid orange; */
        width: 75vw;
        height: 100vh;
        margin: 0 auto;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: center;
}

#actorSection {
        /* border: 1px solid red; */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}