#oneMovie {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
}

#pixNtitle {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        align-items: flex-end;
}

#moviePix {
        /* border: 1px solid blue; */
        border: 1px solid white;
        border-radius: 4px;
        width: 60px;
        height: 85px;
        margin-right: 10px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}

#movieTitle {
        /* border: 1px solid blue; */
        text-align: left;
        width: 80%;
}

#movieInfo {
        /* border: 1px solid green; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}

#movieRates {
        width: 110px;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
}