#inputDiv {
        padding: 8px 10px;
        background-color: white;
        border-radius: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

#input {
        border: none;
        outline: none;
        font-style: italic;
}

#button {
        border: none;
        border-radius: 1000px;
        background-color:  #0f0096;
        color: white;
        width: 20px;
        height: 20px;
        outline: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}