#inputDiv {
        padding: 8px;
        background-color: white;
        border-radius: 40px;
}

#input {
        border: none;
        outline: none;
        font-style: italic;
}

#button {
        border: none;
        border-radius: 1000px;
        background-color:  #0f0096;
        color: white;
        width: 20px;
        height: 20px;
        outline: none;
}